{% extends "base.html" %}

{% block title %} Import Build {% endblock %}

{% block content %}
<div class="field">

        <h3 class="title">Import your build:</h3>

        <form method="POST" action="{{ url_for('parseBuild') }}">
            <div class="form-group">
                <label class="label">Import Path of Building build:</label>
                <input type="text" class="input" name="pastebinURL" placeholder="Pastebin URL" value="https://pastebin.com/ZBQHAF2U">
                {% if message %}
                  <p>{{ message }}</p>
                {% endif %}
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
</div>
{% endblock %}
