{% extends 'base.html' %}
{% block title %}Display Build{% endblock %}

{% block content %}
    <p>This build was made for: {{ builddata["metadata"]["targetVersion"] }}</p>
    <p>Class Used: {{ builddata["metadata"]["className"] }}</p>
    <p>Ascendancy: {{ builddata["metadata"]["ascendClassName"] }}</p>
    <p>Bandic Choice: {{ builddata["metadata"]["bandit"] }}</p>
    <p>Life Total: {{ builddata["stats"]["Life"]}}</p>
    <p>Life Incresed %: {{ builddata["stats"]["Spec:LifeInc"] }}</p>

    <a href="{{ builddata["tree"] }}"><h4>Passive Skill Tree</h4></a>
    <p>Only one tree in the build is displayed</p>

    <div class="container">
        <h2>Keystones</h2>
        <div class="row">
        {% for keystone in builddata["keystones"] %}
            <div class="col">
                <h4>{{ keystone['dn'] }}</h4>
                <img src="https://web.poecdn.com/image/{{ keystone['icon'] }}" class="img-thumbnail" alt="{{ keystone['dn'] }}">
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
